<div class="section">
	<h3>Tags</h3>
	<div class="section_content" id="content_tag">
		<ul>
			<li><span class="level1"><a>Login</a></span></li>
			<li><span class="level1"><a>Login</a></span></li>
			<li><span class="level2"><a>Login</a></span></li>
			<li><span class="level4"><a>Login</a></span></li>
			<li><a>Login</a></li>
			<li><a>Login</a></li>
			<li><span class="level3"><a>Login</a></span></li>
			<li><a>Login</a></li>
			<li><span class="level1"><a>Login</a></span></li>
			<li><a>Login</a></li>
		</ul>
		{# <br style="clear:both" /> #}
		<a class="more">... more</a>
	</div>
</div>