<div class="section">
	<h3>Welcome to m-codes</h3>
   	<div class="section_content">
		<div class="center_content padder">
			<h3>はじめに</h3>
			<p>
				このサイトはPythonで構築されたGoogleAppengineで運用するCMSです．
				あなたがこのサイトを運用するにあたって，以下の指示に従って初期設定を行ってください．
			</p>
		</div>
		<div class="center_content padder">
			<ol>
				<li name="fisrt_account">
					<h2>Google Appengineへのアカウント登録</h2>
					<p>
						それは出来てるよね？じゃないとこのページ開けないよね．次いこうか
					</p>
				</li>
				<li name="fisrt_upload">
					<h2>アップロード</h2>
					<p>
						上でも言ったよね？次いくよ
					</p>
				</li>
				<li name="fisrt_user">
					<h2>ユーザー登録</h2>
					<p>
						ユーザは複数登録可能であるが，ユーザにはグループがあり，そのグループごとに権限が異なります．
						<div class="pad">
							<dl class="roll">
								<dt>Admin :</dt><dd>アプリケーションの管理者．あらゆる実行権限を持つ．</dd>
								<dt>Developper :</dt><dd>レイアウトの変更，バージョン管理，記事執筆の権限を持つ．</dd>
								<dt>Writer :</dt><dd>記事執筆権限を持つ．</dd>
								<dt>User :</dt><dd>通常のユーザ．外部アプリケーションとの連携やAPIを利用するためのTokenを発行可能．</dd>
							</dl>
						</div>
						まずはAdminユーザを作成し，アプリケーションの設定を行う必要があります．
						<span class="strong"><a href="registration">Create User</a></span>
					</p>
				</li>
				<li>
					<h2>アプリケーション登録</h2>
					<p>
						このサイトのタイトルやレイアウトの初期設定を行います．この操作にはAdminグループに属するユーザとしてログインしている必要があります．
						<span class="strong"><a href="create_app">Initialize Applicaion</a></span>
					</p>
				</li>
			</ol>
			<p></p>
		</div>
	</div>
</div>