<div class="section">
	<h3>コンテンツ管理</h3>
   	<div class="section_content">
		<div class="center_content padder">
			<a href="edit">記事を書く</a>
			{% if entries %}
			<table class="manage_table" border="0" cellspacing="0" cellpadding="0"　align="left">
				<tr><th>操作</th><th>タイトル</th><th>タグ</th><th>作成日時</th><th>作成者</th></tr>
				{% for entry in entries %}
				<tr><td><a href="/edit?entry_id={{entry.key.id}}" target="_blank">編集</a>　<a href="/entry?entry_id={{entry.key.id}}" target="_blank">表示</a>{%if entry.is_draft%}　[下書き]{%endif%}</td><td>{{entry.title}}</td><td>{% for tag in entry.all_tag %}{{tag.title}} {%endfor%}</td><td>{{entry.show_date}}</td><td>{{entry.appuser.nickname}}</td></tr>
				{% endfor %}
			</table>
				{# <ol> #}
				{# {% for entry in entries %} #}
				{# <li><a href="/edit?entry_id={{entry.key.id}}">{{entry.title}}</a>{% if entry.is_draft %}　[未公開]{% endif %}</li> #}
				{# {% endfor %} #}
				{# </ol> #}
				<ul class="paging">
				{% if pages.pre_page %}
				<li>
				<a href="/manage?page={{pages.pre_page}}" class="pager">&lt;&lt;Pre</a>
				</li>
				{% endif %}
				{% for page in page_list %}
				{% ifequal page pages.now_page %}
				<li>
				<a class="pager now_page">{{page}}</a>
				</li>
				{% else %}
				<li>
				<a href="/manage?page={{page}}" class="pager">{{page}}</a>
				</li>
				{% endifequal %}

				{% endfor %}
				{% if pages.next_page %}
				<li>
					<a href="/manage?page={{pages.next_page}}" class="pager">Next&gt;&gt;</a>
				</li>
				{% endif %}
				</ul>
				<div class="clearfix">{{entry_count}}件</div>
			{% endif %}
			{# <form action="initialize_app" method="post" accept-charset="utf-8"> #}
			{# 	<label><h3>サイト管理者</h3><p>{{user.email}}</p></label> #}
			{# 	<label><h3>タイトル</h3><input name="title" type="text" value="{{application.title}}" /></label> #}
			{# 	<label><h3>バージョン</h3> #}
			{# 		<select name="revision"> #}
			{# 		<option value="1" selected="selected">1</option> #}
			{# 		<option value="2">2</option> #}
			{# 		<option value="3">3</option> #}
			{# 		<option value="4">4</option> #}
			{# 		<option value="5">5</option> #}
			{# 		<option value="6">6</option> #}
			{# 		<option value="7">7</option> #}
			{# 		<option value="8">8</option> #}
			{# 		<option value="9">9</option> #}
			{# 		<option value="10">10</option> #}
			{# 	</select></label> #}
			{# 	<label><h3>アイコンURL</h3><input name="img_url" type="text" value="{{application.img_url}}" /></label> #}
			{# 	<label><h3>サイト紹介</h3><textarea name="description">{{application.description}}</textarea></label> #}
			{# 	{% if application %} #}
			{# 	<input type="hidden" name="application" value="application.key.id" /> #}
			{# 	<p><input type="submit" value="保存"></p> #}
			{# 	{% else %} #}
			{# 	<p><input type="submit" value="作成"></p> #}
			{# 	{% endif %} #}
			{# </form> #}
		</div>
	</div>
</div>
{% if appuser.modify_auth %}
<div class="section">
	<h3>サイト管理</h3>
   	<div class="section_content">
		<div class="section_content">
			<div class="center_content padder">
				<form action="initialize_app" method="post" accept-charset="utf-8">
					<label><h3>サイト管理者</h3><p>{{application.create_appuser.nickname}} : {{application.create_appuser.email_addr}}</p></label>
					<label><h3>タイトル</h3><input name="title" type="text" value="{{application.title}}" /></label>
					<label><h3>バージョン</h3>
						<select name="revision">
						<option value="1" selected="selected">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select></label>
					<div class="borders">
					<label><h3>新規ユーザ作成の際の認証レベル</h3>
						<select name="islock">
							<option value="1" {% if application.islock %}selected="selected"{% endif %}>パスワード認証をかける</option>
							<option value="2"{% if not application.islock %}selected="selected"{% endif %}>パスワード認証をかけない</option>
							{# <option value="3">自分以外にユーザを作らない</option> #}
						</select></label>
					<label><h3>ID</h3><input name="user" type="text" value="{{application.super_user}}" /></label>
					<label><h3>Password</h3><input name="passwd" type="password" value="{{application.super_pass}}" /></label>
					</div>
					<label><h3>アイコンURL</h3><input name="img_url" type="text" value="{{application.img_url}}" /></label>
					<label><h3>サイト紹介</h3><textarea name="description">{{application.description}}</textarea></label>
					{% if application %}
					<input type="hidden" name="application" value="{{application.key.id}}" />
					<p><input type="submit" value="保存"></p>
					{% else %}
					<p><input type="submit" value="作成"></p>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}