<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<title>{% if title %}{{title}} - {% endif %}{% if application %}mmiyajix{% else %}{{application.title}}{% endif %}</title>
<link rel="alternate" type="application/rss+xml" title="{% if application %}mmiyajix{% else %}{{application.title}}{% endif %} RSS Feed" href="http://mmiyajix.appspot.com/rss.xml" />
<link type="text/css" rel="stylesheet" href="/css/syntax/shCore.css"/> 
<link type="text/css" rel="stylesheet" href="/css/syntax/shCoreDefault.css"/> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9609071-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="wrapper">
	{% include "title_content.html" %}
	<div id="content_wrapper">
		{% if pankuzu %}
		<div id="topicpath">
			<ol>
				<li><a href="/">Home</a></li>
				<li class="active"><a href="/">Home</a></li>
			</ol>
		</div>
		{# <h2 id="pankuzu"><a href="/">Home</a> &gt; <a href="/entry">Entry</a></h2> #}
		{% endif %}
		{# <div class="color_palette"> #}
		{# 	<div class="color_content"> #}
		{# 		<table> #}
		{# 			<tbody> #}
		{# 				<tr> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 				</tr> #}
		{# 				<tr> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 				</tr> #}
		{# 			</tbody> #}
		{# 		</table> #}
		{# 	</div> #}
		{# </div> #}
		{# <div class="clearfix"> #}
		{% block main %}
		{% endblock main %}
		{# </div> #}
		{# <br style="clear:both" /> #}
	</div>
	<p id="footer" class="clearfix">{{now.year}} Copyright &copy; {% if application %}mmiyajix{% else %}{{application.title}}{% endif %} All rights reserved.<br /><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></p>
</div>
<script type="text/javascript" src="/js/jquery-min.js"></script>
<script type="text/javascript" src="/js/mmiyajix.js"></script>
<script type="text/javascript" src="/js/editable.js"></script>
<script type="text/javascript" src="/js/syntax/shCore.js"></script> 
<script type="text/javascript" src="/js/syntax/shBrushXml.js"></script> 
<script type="text/javascript" src="/js/syntax/shAutoloader.js"></script>
<script type="text/javascript">
SyntaxHighlighter.autoloader(
	"actionscript3 as3 /js/syntax/shBrushAS3.js",
	"bash shell /js/syntax/shBrushBash.js",
	"cpp c /js/syntax/shBrushCpp.js",
	"c# c-sharp csharp /js/syntax/shBrushCSharp.js",
	"css /js/syntax/shBrushCss.js",
	"java /js/syntax/shBrushJava.js",
	'js jscript javascript /js/syntax/shBrushJScript.js',
	"perl pl /js/syntax/shBrushPerl.js",
	'php /js/syntax/shBrushPhp.js',
	'py python /js/syntax/shBrushPython.js',
	"ruby rails ror rb /js/syntax/shBrushRuby.js",
	"sql /js/syntax/shBrushSql.js",
	"text plain /js/syntax/shBrushPlain.js",
	"xml xhtml xslt html /js/syntax/shBrushXml.js"
);
SyntaxHighlighter.all();
</script>
</body>
</html>