<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/base.css">
<title>{% if title %}{{title}} - {% endif %}{% if application %}mmiyajix{% else %}{{application.title}}{% endif %}</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9609071-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="wrapper">
	{% include "title_content.html" %}
	<div id="content_wrapper">
		{# <div class="color_palette"> #}
		{# 	<div class="color_content"> #}
		{# 		<table> #}
		{# 			<tbody> #}
		{# 				<tr> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 				</tr> #}
		{# 				<tr> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 					<td><div class="palette" style="background-color: rgb(0, 0, 0); -webkit-user-select: none; "></div></td> #}
		{# 				</tr> #}
		{# 			</tbody> #}
		{# 		</table> #}
		{# 	</div> #}
		{# </div> #}
		{% block main %}
		{% endblock main %}
		<br style="clear:both" />
	</div>
	<p id="footer">{{now.year}} Copyright &copy; {% if application %}mmiyajix{% else %}{{application.title}}{% endif %} All rights reserved.<br /><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></p>
</div>
<script type="text/javascript" src="/js/jquery-min.js"></script>
<script type="text/javascript" src="/js/mmiyajix.js"></script>
<script type="text/javascript" src="/js/editable.js"></script>
</body>
</html>
