<div id="header_back">
	<div id="header_content">
		<span id="title_bar">
			<ul>
				<li><a>Home</a></li>
				<li><a>Search</a></li>
				<li><a>Contact</a></li>
				<li><a>RSS</a></li>
				<li>{% if user %}{% if appuser %}<a href="{{url}}">Logout【{{appuser.nickname}}】{% else %}<a href="{{url}}">Logout【{{user.nickname}}】{% endif %}{% else %}<a href="/registration">Login{% endif %}</a></li>
				<li><form class="search_box" action="search" method="get" accept-charset="utf-8"><input type="text" />
					<input type="image" src="/img/search_btn.gif" alt="Search" id="searchBtn" />
				</form></li>
			</ul>
		</span>
		<h1>{{title}}</h1>
	</div>
</div>