*{
	margin:0;
	padding:0;
}
html{
	background:url('../img/bg_tile.jpg');
}
body{
	color:#fcfcfc;
	font:15px "Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3", "メイリオ", Arial,"Helvetica Neue",sans-serif;
	min-height:500px;
}
#content_wrapper{
	width:960px;
	margin:0 auto;
	padding-top:84px;
	border-bottom:1px solid #ddd;
}
#content_left{
	width:300px;
	float:left;	
}
#content_right{
	width:660px;
	float:left;
}
#header_content{
	width:960px;
	margin:0 auto;
}
#header_back{
	width:100%;
	min-width:960px;
	height:44px;
/*	position:fixed;*/
	position:absolute;
	background-color:black;
	background: -webkit-gradient(linear,left top,left bottom,from(#888),to(#555));
	background: -moz-linear-gradient(top,#888,#555);
	background: transparent 9;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
#header_content #title_bar{
/*	position:absolute;*/
	float:right;
	right:0;
}
#header_content #title_bar ul{
	list-style:none;
}
#header_content #title_bar ul li{
	float:left;
	margin:15px;
}
#header_content #title_bar ul li>a{
	color:#fcfcfc;
	text-decoration:none;
}
#header_content #title_bar ul li>a:hover{
	text-decoration:underline;
}
	
#content_wrapper h1{
	font-size: 16px;
	font-weight: normal;
	line-height: 44px;
}
#content_wrapper h2,
#content_wrapper h3{
	color: #575B63;
	font-size: 18px;
	font-weight: normal;
	line-height: 42px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
#content_wrapper h3{
	font-size: 15px;
	line-height: 34px;
	padding: 0 15px;
}

#content_wrapper .section{
	background: url("../img/sprite.png") repeat-x 0 -121px #FAFAFA;
	border: 1px solid #D1D3D5;
/*	min-height: 300px;*/
	min-height:100px;
	margin: 10px 10px 30px 10px;
	overflow-x: hidden;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 1px #fff inset;
	-webkit-box-shadow: 0 0 1px #fff inset;
	box-shadow: 0 0 1px #fff inset;
	line-height:2em;	
}
#content_left .section{
	margin: 10px;
}
#content_profile img{
	margin-top:10px;
	float:left;
}

#content_profile #profile{
	margin-left:60px;
	min-height:60px;
}
#content_wrapper .section .section_content{
	margin:20px;
	color:#777;
}
#content_right .section .section_content ul{
	list-style:none;
}
#content_wrapper .section .section_content p{
	text-indent:1em;
}
#content_wrapper .section .section_content .recent_content{
	border-bottom:1px solid #ddd;
	margin-top:10px;
}
#content_wrapper .section .section_content .recent_content p{
	margin-left:20px;
}
#content_wrapper .section #content_tree{
/*	margin-left:20px;*/
}
#content_wrapper .section #content_tree >ul,#content_wrapper .section #content_manage >ul,#content_wrapper .section #content_tag >ul{
	list-style:none;
}
#content_wrapper .section #content_tag >ul>li{
	float:left;
	margin:0 5px 10px 5px;
}
#content_wrapper .section #content_tag >ul>li span{
	float:left;
}
#content_wrapper .section .section_content .center_content{
	border-bottom:1px solid #ddd;
}
#content_wrapper .section .section_content .center_content ol{
	padding-left:30px;
}
#content_wrapper .section .section_content .center_content ol li{
	padding:20px;
}
div.pad{
	margin:15px;
	padding:15px;
	border:3px solid #ddd;
}
div.padder{
	padding:20px;
}
span.strong{
	font-size: 20px;
	display:block;
}
dl.roll dt{
	float:left;
	margin-right:30px;
}
.more{
	clear:both;
	float:right;
}
.level1{
	font-size:200%;
}
.level2{
	font-size:170%;
}
.level3{
	font-size:130%;
}
.level4{
	font-size:110%;
}
#content_wrapper #content_left .section >ul li{
	margin:5px auto;
}
#content_wrapper #content_left .section >ul>li{
	font-weight:bold;
/*	color:navy;*/
	margin-top:20px;
	border-bottom:1px solid #ddd;
/*	margin:10px auto;*/
}
#content_wrapper #content_left .section ul > ul{
	margin-left:30px;
}

#content_wrapper #content_left .section{
/*	height:600px;*/
}
input,textarea,select{
	background: -moz-linear-gradient(center top, #efeff8 0%,#fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efeff8),color-stop(1, #fff));
	border:1px solid #6699FF;
	/*font-size:0.8em;*/
	padding:3px;
}
#content_wrapper #content_search input[type="text"]{
	float:left;
	height:16px;
	width:190px;
	margin:0;
}
#content_wrapper #content_search input[type="image"]{
	margin: 0px;
	padding: 0px;
	border:none;
}
form.search_box input{
	background: #ddd;
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efeff8),color-stop(1, #fff));*/
	border:1px solid #ddd;
}
form.search_box input[type="text"]{
/*	color:#fff;*/
	float:left;
	height:16px;
	width:100px;
	margin:0;
}
form.search_box input[type="image"]{
	margin: 0px;
	padding: 0px;
	border:none;
}
.center_content form label{
/*	margin:10px;*/
}
.center_content form input[type="text"],.center_content form textarea,.center_content form select{
	margin-left:30px;
	margin-bottom:20px;
	line-height:20px;
	width:300px;
}
.center_content form input[type="submit"]{
	margin:0px 20px;
	padding:5px 10px;
}
/*===============================
*	Additional page styles:
================================*/


#footer{
	color:#777;
	text-align:center;
	font-size:11px;
	padding-bottom:20px;
}

a, a:visited {
	color: #4EA0E2;
	outline: none;
	text-decoration: underline;
}

a:hover{
	text-decoration:none;
}
