*{
	margin:0;
	padding:0;
}
a{
	color:blue;
}
body{
	background-color: #000;	
	color: white;
	font:16px "Hiragino Kaku Gothic Pro",Meiryo,"ヒラギノ角ゴ Pro W3", "メイリオ", Arial,"Helvetica Neue",sans-serif;
	background-image: url(https://lh3.googleusercontent.com/_9W1gHMAKHjU/Tb-WrwLoDtI/AAAAAAAAARI/Hp1n6f2ohjc/s1400/portfolio.jpg);
	background-repeat: no-repeat;
	height: 1050px;
	background-position: 50% 50%;	
}
ul{
	margin-left:25px;
}
#wrapper{
	margin:0 auto;
	max-width:1400px;
	min-width:880px;
}
#portfolio_wrapper{
/*	width:600px;*/
	position:absolute;
	top:300px;
/*	margin:300px 20px;*/
}

.portfolio{
	margin:300px auto;
	width:800px;
}
.profile{
	background-color: transparent;
	-webkit-border-radius: 10px;/* Safari、Google Chrome */
	-moz-border-radius: 10px;/* Firefox */
	border: 1px solid transparent;
}
#profile_box{
	margin:40px;
	padding:50px;
	background:rgba(0, 0, 0, 0.7);
}
#profile_box h1.name{
	font-size: 70px;
}
#profile_box h2.nickname{
	margin:10px;
	font-size: 30px;
}
.section{
	padding:20px;
	border-top:1px solid black;
	border-bottom:1px solid white;
}
.social li{
	margin:10px;
	list-style:none;
	float:left;
}
.social li img{
	border: none;
}
#hovs{
	margin:20px;
	padding:30px;
	border:6px solid white;
	-webkit-border-radius: 10px;/* Safari、Google Chrome */
	-moz-border-radius: 10px;/* Firefox */
}
#tool{
	border-top:0;
	border-bottom: solid 27px white;
	border-left: solid 0px transparent;
	border-right: solid 27px transparent;
	position: relative;
	width:0px;
	top:65px;
	left:65px;
	z-index:2;
}
#toolin{
	border-top:0;
	border-bottom: solid 23px black;
	border-left: solid 0px transparent;
	border-right: solid 23px transparent;
	width:0px;
	position: relative;
	top:50px;
	left:70px;
	z-index:3;
}
.clearfix{
	clear:both;
}