<div id="content_right">
	<div class="section">
		<h3>About this site</h3>
	   	<div class="section_content">
		<p>ここは宮地 正大のページです．本ページでは主に私の研究に関する成果物をまとめています．
			<br />
			クラスタリングなどのデータマイニング，組み合わせ最適化，画像処理などを中心に研究をしており，
			趣味としてWeb系のアプリケーション開発を行っています．</p>
		<br />
		<ul>
			<li>所属: 同志社大学生命医科学研究科 <a href="http://is.doshisha.ac.jp/index.html" target="_blank">医療情報システム研究室</a> M0</li>
			<li>研究テーマ:　マイクロアレイデータのための知的なクラスタリング，公共空間における人物位置および方向情報の取得</li>
			<li>主な使用プログラミング言語: Python, C++, Java, Actionscript, Javascript</li>
		</ul>
		</div>
	</div>
	<div class="section">
		<h3>Recent News</h3>
	   	<div class="section_content">
			<div class="recent_content">
				<span class="date">2011/02/14</span>
				<h3>Diary</h3>
				<p>なんと<a class="more">... Read full text</a></p>
			</div>
			<div class="recent_content">
				<span class="date">2011/02/13</span>
				<h3>サイト仮オープン<span class="tag">【 <a>tag</a> 】</span></h3>
				<p>勢いで自己紹介用のサイトを作ってみた．自サーバで運用したくないので，GoogleAppengineを活用している．自身の勉強のため，便利なプラグイン系は使わないで必要な機能は全部自分で実装するのがモットー(JQuery本体は例外ね，もりもり使うよ)．<a class="more">... Read full text</a>
				</p>
			</div>
			<a class="more">... more</a>
		</div>
	</div>
	<div class="section">
		<h3>Category</h3>
	   	<div class="section_content">
		</div>
	</div>
</div>