<div class="section">
	<h3>Recent News{% if appuser.modify_auth %}<a class="edits" href="/edit" title="edit content"><img src="/static/img/edit.png"/></a>{% endif %}</h3>
   	<div class="section_content">
		{% for entry in recents %}
		<div class="recent_content hand" onclick="location.href='/entry?entry_id={{entry.key.id}}'">
			<span class="date">{{entry.show_date}}</span>
			<h3><span>{{entry.title}}</span></h3>
			<div class="padder">
			{{entry.content}}
			<a class="more" href="/entry?entry_id={{entry.key.id}}">... Read full text</a>
			<br style="clear:both" />
			</div>
		</div>
		{% endfor %}
		<div class="recent_content">
			<span class="date">2011/02/14</span>
			<h3>Diary</h3>
			<p>なんと<a class="more">... Read full text</a><br style="clear:both" />
			</p>
		</div>
		<div class="recent_content">
			<span class="date">2011/02/13</span>
			<h3>サイト仮オープン<span class="tag">【 <a>tag</a> 】</span></h3>
			<p>勢いで自己紹介用のサイトを作ってみた．自サーバで運用したくないので，GoogleAppengineを活用している．自身の勉強のため，便利なプラグイン系は使わないで必要な機能は全部自分で実装するのがモットー(JQuery本体は例外ね，もりもり使うよ)．<a class="more">... Read full text</a>
				<br style="clear:both" />
			</p>
		</div>
		<a class="more">... more</a>
	</div>
</div>